* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

h1 {
	margin: 1rem 0;
}

section {

	border-bottom: 1px solid #000;
}

.wrapper {
	max-width: 600px;
	margin: 0 auto;
	min-height: 300px;
}

.row {
	width: 100%;
	min-width: 10px;
	padding: 1rem 0;
	min-height: 300px;
	/* Display Flex stellt Elemente nebeneinander */
	display: flex;
	/* justify-content richtet auf der X-Achse aus */
	justify-content: space-around;
	/* align-items  richtet auf der y-Achse aus */
	align-items: stretch;
}



.col {
	min-width: 20px;
	min-height: 70px;
	margin: 10px;

}

.trolley-grey {
	background: #7D7C84;
	/* flex grow ist ein Faktor wieviel Platz darf das Element im Vergleich
	zu den anderen einnehmen */
	flex-grow: 1;
	/*  setzt das element an das Ende, die Order beginnt bei 0, 1 geht nach rechts
	danach käme eine beliebige höhere Zahl */
	order:1;
}

.sea-green {
	background: #2D93AD;
	flex-grow: 1;
}

.middle-red {
	background: #DE8F6E;
	flex-grow: 1;
}

.black {
	background: #000;
	flex-grow: 1;
	order:2;
}

.orange {
	background: orange;
	flex-grow: 1;
	/* auch negative Zahlen bei order möglich um die Reihenfolge zu verändern */
	order:-1;

}

.olive {
	background: olive;
}

@media (min-width:768px) {
    .row{
			display:block;
  	}
	}

@media (min-width:1200px) {
	    section{
				background: red;
	  	}
		}
